<!doctype html>
<html>
    <head></head>
    <body>
        <p>You have received a message from the site's Contact Us page, from 
        <%= "#{@name} , #{@email}." %></p> 
        <br />
        <hr />
        <p> <%= @body %></p>
        
    </body>
</html>